<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="" />
    <title>New York Times News Scraper</title>
</head>

<body>
    {{{ body }}}
</body>

</html>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="app.js"></script>